.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 2rem;
  border: 0.5px solid var(--foreground-color);
  border-radius: 4px;
  padding: 1rem;
}

.container .wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container span {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.binaryArithmeticForm fieldset {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--foreground-color);
  padding: 1rem;
}

.binaryArithmeticForm fieldset legend {
  padding-right: 10px;
}

.binaryArithmeticForm fieldset .numContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 2rem;
}

.binaryArithmeticForm fieldset .numContainer span {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media screen and (min-width: 514px) {
  .container {
    grid-template-columns: 1fr auto;
    row-gap: 0;
  }
}
