.description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0.5rem;
  width: 100%;
}

.methodsList {
  list-style: none;
}

.methodsList li {
  padding-bottom: 2rem;
}

.method {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-top: 1px solid var(--foreground-color);
  padding-top: 2rem;
  text-align: center;
}

.method > div {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.method h3 {
  width: fit-content;
  border-bottom: 1px solid var(--foreground-color);
  font-size: 1.4rem;
}

.method sub {
  font-size: 0.6em;
}

.aggregationSpan {
  margin-top: 1rem;
  margin-right: 5px;
  border-top: 1px solid var(--foreground-color);
}

.complementOperation {
  display: flex;
  gap: 1rem;
  margin: 0 auto;
  border: 1px solid var(--foreground-color);
  border-radius: 4px;
  padding: 1rem;
  text-align: end;
}
@media screen and (min-width: 375px) {
  .method h3 {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 480px) {
  .method h3 {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 612px) {
  .method h3 {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .method h3 {
    font-size: 2.4rem;
  }
}
